---
---

// you should override bootstrap variables before you import bootstrap
// override the bootstrap brand-primary colour

//$brand-primary: red;

$state-blue: #0A2E52;

$navbar-inverse-color:                      #333 !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap";

//////////////////////////////////////////////////////
/////////////// Custom Code //////////////////////////
//////////////////////////////////////////////////////

// remainder of sass goes here. If you want to use the bootstrap variables in your own variables, you should put their definitions after

@sprite: "assets/img/mapgive_sprite.svg";

.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:9999;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
.menu-ui a {
  font-size:13px;
  color:#404040;
  display:block;
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  border-bottom:1px solid rgba(0,0,0,0.25);
  text-align:center;
  }
.menu-ui a:first-child {
  border-radius:3px 3px 0 0;
  }
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
  }
.menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
  }
.menu-ui a.active {
  background:#3887BE;
  color:#FFF;
  }
.menu-ui a.active:hover {
  background:#3074a4;
  }

#hidden-sprite {
  display: none;
}

.social {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 992px) {
  .social {
    margin: 70px 0 0;
  }
}

.social li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.social .share {
  border-right: 1px solid #51504d;
  padding-right: 10px;
  width: auto;
  height: auto;
}

.opera-mini .social .share,
.no-svg .social .share,
.svg .social .share {
  background: none;
}

.social a {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.svg .globe,
.svg .marker,
.svg .map,
.svg .hot,
.svg .dos,
.svg .logo,
.svg .play-button,
.svg .steps .estimate .clock,
.svg .social li {
  background-image: url(@sprite);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 366px 208px;
}

.svg .social .mail {
  background-position: -256px -177px;
  margin-top: 3px;
}

.svg .social .facebook {
  background-position: -277px -177px;
}

.svg .social .twitter {
  background-position: -298px -177px;
  margin-top: 2px;
}

.svg #footer .twitter {
  margin: 0;
}

.svg .social .plus {
  background-position: -319px -177px;
}

.html {
    height: 100%;
}

.body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.footer {
    bottom: 0;
    width: 100%;
    clear: both;
    position: relative;
}

.footer, .push {
    background-color: #f5f5f5;
}

.footer-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

#left-footer-menu,#footer-disclaimer {
    padding-left: 56px;
}

#right-footer-menu {
    padding-right: 75px;
    text-align: right;
}

.mapgive-font {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 18px;
}

.nea-region-font {
    font-family: "Merriweather-serif";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
}

.eur-region-font {
    font-family: "Merriweather-serif";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
}

.sca-region-font {
    font-family: "Merriweather-serif";
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.eap-region-font {
    font-family: "Merriweather-serif";
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}

.af-region-font {
    font-family: "Merriweather-serif";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

.wha-region-font {
    font-family: "Merriweather-serif";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

.logo-font {
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 16px;
    color: #ffffff
}

.float-right {
    float:right;
}

.header-container {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.hiu-logo {
    display: inline-block;
    opacity: 1;
    height: 50px;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.mapgive-logo {
    height:24px;
    margin: 3px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: bottom;
}

#mapgive-logo-padding {
    padding-top: 15px;
}

.sameline
{
    display: inline-block;
}

.odd {
    background: #f5f5f5;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-brand {
    float: left;
    padding: 5px 9px 0px 13px;
    font-size: 18px;
    line-height: 20px;
    height: 42px;
}

.navbar-inverse {
    border-bottom: 2px #667764;
    border-style: solid;
    background-color: #0A2E52;
    border-color: #667766;
    color: #fff;
  }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar {
    min-height: 61px;
}

.navbar-right-text {
    padding-top: 5px;
}

.navbar-nav > li > a {
    padding-bottom: 0px;
    line-height: initial;
}

#nav_mapgive a {
    padding-top: 7px;
    font-size: 20px;
}

.listitem .listitem-thumbnail {
    position: relative;
    display: block;
    // max-width, max-height done set by template
}
.listitem .listitem-thumbnail div {
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    opacity: 0.0;
    left:0;
    bottom: 0;
    width:100%;
    height: 100%;
    text-align:center;
}
.listitem .listitem-thumbnail:hover div {
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
}
.listitem .listitem-thumbnail div span {
    display: inline-block;
    color:white;
    font-size: 24px;
    // line height set by template 
}

img.thumb150 {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.listitem a.thumb150 {
    display: initial;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100%;
    margin-bottom: -58px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #204d74;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0A2E52;
    border-color: #204d74;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1050px;
    }
}

.region_label {
  color: #0A2E52;
  color: #808284;

//  background: rgba(255,255,255,0.8);
//  background: #808284;
//  box-shadow: 0 0 15px rgba(0,0,0,0.2);
//  border-radius: 5px;

  padding: 4px 4px 4px 4px;
  display: inline-block
}

.info {
  padding: 6px 8px 25px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #d73f3f;
}

.leaflet-container .list-markers {
  visibility: hidden;
}

.item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}

.item.active {
    background-color: #d1d6d1;
}

.title {
    display: block;
    color: #0A2E52;
    font-weight: 700;
}

.item > .title-global {
    display: block;
    color: 'black';
    font-weight: 700;
}

.item > .title {
    display: block;
    color: #0A2E52;
    font-weight: 700;
}

.item > .title:hover {
    color: #337ab7;
}

a.title {
    text-decoration: none;
}

a.title:hover {
    text-decoration: none;
}

.container2 {
    width:100%;
    height: 160px;
    padding:1%;
}

.description-image {
    float: left;
    height: 175px;
    width: 165px;
}

.description-text {
    float: left;
    padding-top: 5px;
    height: 175px;
    width: 150px;
}

.listitem-thumbnail {
    display: inline-block;
    color: white;
    font-size: 24px;
}

.listitem-thumbnail:hover div {
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
}

#img-container {
  position: relative;
}

#preview {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 150px;
   text-align: center;
   opacity: 0;
}

#preview:hover {
   color: white;
   opacity: 1;
   transition: opacity 0.4s ease-in-out;
}

#hover {
   position: absolute;
   top: 0px;
   left: 0px;
   height:150px;
   width:150px;
}

#hover:hover {
   color:black;
   background-color: black;
   opacity: .7;
   transition: opacity 0.4s ease-in-out;
}

// icon css 
.circleBase {
    border-radius: 50%;
    // remove if you don't care about IE8
    behavior: url(PIE.htc);
}

.type1 {
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid #337ab7;
    opacity: 1;
    margin-left: -4px;
    margin-top: -4px;
}

// the padding top is very important because the navbar is fixed unless the container
// div below will overlap with the navbar unless the body or the container has top-padding
html, body{
    height: 100%;
    width: 100%;
    // disable, not displaying right in IE 11 overflow: hidden;
    -ms-overflow-style: none;
    //padding-top: 30px;
}

body {
    padding-top: 60px;
}

// http://stackoverflow.com/questions/29038596/bootstrap-fixed-header-and-footer-with-scrolling-body-content-area-in-fluid-cont
.main {
  max-height: calc(100% - 58px);
  overflow-y: scroll;
}

body {
    overflow:hidden;
    -ms-scroll-limit: 0 0 0 0;
}

.modal-title {
    margin-top: 5px;
  }
