{% assign odd = false %}{% if include.odd %}{% assign odd = include.odd %}{% endif %}
{% assign li_left_cols = 5 %}{% if include.li_left_cols %}{% assign li_left_cols = include.li_left_cols %}{% endif %}
{% assign li_right_cols = 7 %}{% if include.li_right_cols %}{% assign li_right_cols = include.li_right_cols %}{% endif %}
{% assign li_thumbnail_width = 300 %}{% if include.li_thumbnail_width %}{% assign li_thumbnail_width = include.li_thumbnail_width %}{% endif %}
{% assign li_thumbnail_height = 300 %}{% if include.li_thumbnail_height %}{% assign li_thumbnail_height = include.li_thumbnail_height %}{% endif %}
{% if odd == true %}
    {% assign li_class = 'listitem row odd' %}
{% else %}
    {% assign li_class = 'listitem row' %}
{% endif %}
<div class="{{ li_class }}" style="margin-bottom: 15px;">
    <div class="col-md-{{ li_left_cols }}">
      {% if download == true %} 
      <a class="listitem-thumbnail" href="{{ site.storage.products }}/{{ product.pdf }}" style="max-width: {{ li_thumbnail_width }}px; max-height: {{ li_thumbnail_height }}px;">
        {% if li_thumbnail_width == 150 %}
        <img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_150 }}" width="{{ li_thumbnail_width }}" height="{{ li_thumbnail_height }}" class="img-responsive"/>
        {% else %}
        <img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="{{ li_thumbnail_width }}" height="{{ li_thumbnail_height }}" class="img-responsive"/>
        {% endif %}
        <div><span style="line-height: {{ li_thumbnail_height }}px;">Download</span></div>
      </a>
      {% else %}
      <a class="listitem-thumbnail" href="{{ site.baseurl }}{{ product.url | remove: '.html' }}" style="max-width: {{ li_thumbnail_width }}px; max-height: {{ li_thumbnail_height }}px;">
        <img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="{{ li_thumbnail_width }}" height="{{ li_thumbnail_height }}" class="img-responsive"/>
        <div><span style="line-height: {{ li_thumbnail_height }}px;">View</span></div>
      </a>
      {% endif %}
    </div>
    <div class="col-md-{{ li_right_cols }}">
      {% if showProductTitle == false %}
      {% else %}
      <a href="{{ site.baseurl }}{{ product.url | remove: '.html' }}"><h4>{{ product.title }}</h4></a>
      {% endif %}
      <a href="{{ site.baseurl }}/regions/{{ product.region_id }}">{{ product.region_title }}</a> | {{ product.date_published | date: '%B %d, %Y' }}
      <br>
      <br>
      {{ product.content }}
      <hr>
      <a href="{{ site.storage.products }}/{{ product.pdf }}">Download</a>
    </div>
</div>
