<div class="row" style="background:rgb(252, 252, 252); margin-bottom: 15px;">
    <div class="col-md-5">
      <a href="{{ platform.refurl }}"><img src="{{ site.storage.thumbnails_platforms }}/{{ platform.thumbnail_300 }}" width="300" height="300"/></a>
    </div>
    <div class="col-md-7">
      <a href="{{ platform.refurl }}"><h3>{{ platform.title }}</h3></a>
      <br>
      {{ platform.content }}
      <hr>
      <a href="{{ platform.refurl }}"><h3>Discover &gt;&gt;&gt;&gt;</h3></a>
    </div>
</div>
