<div id="sidebar" class="sidebar" style="margin-top: 60px;">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="active" id="home">
                  <a href="#home" id="home" role="tab"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                  <a href="#AF" id="AF" title="Africa Region" role="tab">AF</a>
                </li>
                <li>
                  <a href="#EAP" id="EAP" title="East Asia and the Pacific" role="tab">EAP</a>
                </li>
                <li>
                  <a href="#EUR" id="EUR" title="Europe" role="tab">EUR</a>
                </li>
                <li>
                  <a href="#NEA" id="NEA" title="Near East" role="tab">NEA</a>
                </li>
                <li>
                  <a href="#SCA" id="SCA" title="South and Central Asia" role="tab">SCA</a>
                </li>
                <li>
                  <a href="#WHA" id="WHA" title="Western Hemisphere" role="tab">WHA</a>
                </li>
                <li id="global">
                  <a href="#global" id="global" title="Global" role="tab">
                    <i class="fa fa-globe" style="font-size: 20px;"></i>
                    <div>Global</div>
                  </a>

                </li>
                <!-- potentially can have an e-mail symbol,search, or twitter symbol
                <li class="disabled">
                  <a href="#messages" role="tab"><i class="fa fa-envelope"></i></a>
                </li>
                -->
            </ul>
            <!--
            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
            -->
        </div>

            <!-- Tab panes -->
        <div class="sidebar-content">


          <div class="sidebar-container active" id="home">

            <div class="header-contain-div">
              <h1 class="sidebar-header">
                  Humanitarian Information Unit (HIU)
                  <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
              </h1>
            </div>

            <div class="sidebar-pane active" id="home" style="overflow-y: scroll;height: 100%;">

                  <div class="scroll">

                      <div id='hiu-tab' class='hiu-tab'>

                        <p>The HIU serves as a U.S. Government interagency center to identify, collect, analyze, and disseminate all-source information critical to U.S. Government decision-makers and partners in preparation for and response to humanitarian emergencies worldwide, and to promote innovative technologies and best practices for humanitarian information management.</p>

                        <p><b>Select different regions on the map or on the sidebar tabs to view our products</b></p>

                      </div>

                      <div id='product-listings' class='product-listings'></div>

                   </div>

              </div>

          </div>

          <div class="sidebar-container" id="AF">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="AF">Africa<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="AF" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='AF' ></div>

                <div id='AF-listings' class='AF-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="EAP">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="EAP">East Asia and the Pacific<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="EAP" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='EAP' ></div>

                <div id='EAP-listings' class='EAP-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="EUR">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="EUR">Europe<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="EUR" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='EUR' ></div>

                <div id='EUR-listings' class='EUR-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="NEA">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="NEA">Near East<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="NEA" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='NEA' ></div>

                <div id='NEA-listings' class='NEA-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="SCA">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="SCA">South and Central Asia<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="SCA" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='SCA' ></div>

                <div id='SCA-listings' class='SCA-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="WHA">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="WHA">Western Hemisphere<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="WHA" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='WHA' ></div>

                <div id='WHA-listings' class='WHA-listings'></div>

            </div>

          </div>

          <div class="sidebar-container" id="global">

            <div class="header-contain-div">
              <h1 class="sidebar-header" id="global">Global Products<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane active" id="global" style="overflow-y: scroll;height: 97%;">
                <div class='region-product-count' id='global' ></div>

                <div id='global-listings' class='global-listings'></div>

            </div>

          </div>

            <!--
            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close">
                  <i class="fa fa-caret-left"></i></span>
                </h1>
            </div>
            -->

      </div>
  <!--end of sidebar div-->
  </div>