<footer class="footer">
      <div class="footer-container">
        <div class="row">
          <div class="col-md-12">
              <a href="{{ site.baseurl }}/">Home</a> |
              <a href="{{ site.baseurl }}/products">Products</a> |
              <a target="_blank" href="http://geonode.state.gov">Data</a> |
              <a target="_blank" href="http://mapgive.state.gov">MapGive</a> |
              <a target="_blank" href="http://secondarycities.state.gov">Secondary Cities</a> |
              <!--<a href="{{ site.baseurl }}/developer">Developer</a> | -->
              <a href="{{ site.baseurl }}/about"> About Us</a>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12"><h6><span style="margin-right:4px;font-weight:bold;">Disclaimer:</span>This site is produced and maintained by the U.S. Department of State, Humanitarian Information Unit.  For more information see the<a href="{{ site.baseurl }}/about"> About Us</a> page.</h6></div>
      </div>
    </div>
</footer>

      
