      <div class="row" style="height:61px;">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container header-container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <div>
                  <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="hiu-logo" id='logo' src='{{site.baseurl}}/assets/img/dos_eagle.png' alt='dos_logo' /></a>
                  <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="hiu-logo" id='logo' src='{{site.baseurl}}/assets/img/hiu_logo.png' alt='hiu_logo' /></a>
                  <!--
                  <span class='logo-font'>U.S. Department of State</span>
                  <p>
                  <span class='logo-font sameline'>Humanitarian Information Unit</span>
                  -->
                </div>             
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav mapgive-font float-right">
                <li class="navbar-right-text" id="nav_products">
                  <a href="{{ site.baseurl }}/products">Products</a>
                </li>
                <li class="navbar-right-text" id="nav_data">
                  <a href="{{ site.baseurl }}/data">Data</a>
                </li>

                <li class="navbar-right-text" id="nav_mapgive">
                  <a href="http://mapgive.state.gov">MAP<img class="mapgive-logo" id='logo' src='{{site.baseurl}}/assets/img/logo.png' alt='mapgive_logo'/>GIVE</a>
                </li>
                
                <!--<li id="nav_mapgive">-->
                  <!--<a target="_blank" href="http://mapgive.state.gov">MapGive</a>-->
                  <!--<a target="_blank" href="http://mapgive.state.gov" id='mapgive-logo-padding'> <img class="mapgive-logo" id='logo' src='{{site.baseurl}}/assets/img/logo.png' alt='mapgive_logo'/> </a> 
                </li>-->
                

                <li class="navbar-right-text" id="nav_secondarycities">
                  <a target="_blank" href="http://secondarycities.state.gov">Secondary Cities</a>
                </li>
                <!--<li id="nav_developer">
                  <a href="{{ site.baseurl }}/developer">Developer</a>
                </li>-->
                <li  class="navbar-right-text" id="nav_about">
                  <a href="{{ site.baseurl }}/about">About Us</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="min-width:380px">
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
      </div>
