{% if include.param == 'odd' %}

<div class="row odd" style="margin-bottom: 15px;">
  <!--<div class="col-md-2"></div>-->
    <div class="col-md-5">
      {% if download == true %} 
      <a href="{{ site.storage.products }}/{{ product.pdf }}" style="position:relative;display:block;width:300px;">
        <img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="300" height="300" class="img-responsive"/>
        <div style="position:absolute;background:rgba(0,0,0,.8);line-height:30px;font-size:24px;left:0;text-align:center;bottom:0px;width:100%;color:white;">Download</div>
      </a>
      {% else %}
      <a href="{{ site.baseurl }}{{ product.url }}" style="position:relative;display:block;width:300px;">
        <img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="300" height="300" class="img-responsive"/>
        <div style="position:absolute;background:rgba(0,0,0,.8);line-height:30px;font-size:24px;left:0;text-align:center;bottom:0px;width:100%;color:white;">View</div>
      </a>
      {% endif %}
    </div>
    <div class="col-md-7">
      {% if showProductTitle == false %}
      {% else %}
      <a href="{{ site.baseurl }}{{ product.url }}"><h4>{{ product.title }}</h4></a>
      {% endif %}
      <a href="{{ site.baseurl }}/regions/{{ product.region_id }}">{{ product.region_title }}</a> | {{ product.date_published | date: '%B %d, %Y' }}
      <br>
      <br>
      {{ product.content }}
      <hr>
      <a href="{{ site.storage.products }}/{{ product.pdf }}">Download</a>
    </div>
  <!--<div class="col-md-2"></div>-->
</div>

{% else %}


<div class="row" style="margin-bottom: 15px;">
  <!--<div class="col-md-2"></div>-->
    <div class="col-md-5">
      {% if download == true %} 
      <a href="{{ site.storage.products }}/{{ product.pdf }}"><img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="300" height="300" class="img-responsive"/></a>
      {% else %}
      <a href="{{ site.baseurl }}{{ product.url }}"><img src="{{ site.storage.thumbnails_products }}/{{ product.thumbnail_300 }}" width="300" height="300" class="img-responsive"/></a>
      {% endif %}
    </div>
    <div class="col-md-7">
      {% if showProductTitle == false %}
      {% else %}
      <a href="{{ site.baseurl }}{{ product.url }}"><h4>{{ product.title }}</h4></a>
      {% endif %}
      <a href="{{ site.baseurl }}/regions/{{ product.region_id }}">{{ product.region_title }}</a> | {{ product.date_published | date: '%B %d, %Y' }}
      <br>
      <br>
      {{ product.content }}
      <hr>
      <a href="{{ site.storage.products }}/{{ product.pdf }}">Download</a>
    </div>
  <!--<div class="col-md-2"></div>-->
</div>

{% endif %}
