<div class="row" style="background:rgb(252, 252, 252);">
  <!--<div class="col-md-2"></div>-->
    <div class="col-md-5">
      <img src="https://s3.amazonaws.com/hiu-thumbnails/products/{{ product.thumbnail_300 }}" width="300" height="300"/>
    </div>
    <div class="col-md-7">
      <a href="{{ site.baseurl }}{{ product.url }}">{{ product.title }}</a>
      <br>
      <a href="{{ site.baseurl }}/regions/{{ product.region_id }}">{{ product.region_title }}</a> | {{ product.date_published | date: '%B %d, %Y' }}
      <br>
      <br>
      {{ product.content }}
      <br>
      <a href="https://s3.amazonaws.com/hiu-products/{{ product.pdf }}">Download</a>
    </div>
  <!--<div class="col-md-2"></div>-->
</div>
