<script type="text/javascript" language="Javascript">
    var site = 
    {
        "regions": 
        {
            {% for r in site.categories.regions %}
            "{{ r.region_id }}":"{{ r.title }}"{% unless forloop.last %},{% endunless %}
            {% endfor %}
        },
        "geonodes": 
        {
            {% for gn in site.geonodes %}
            "{{ gn.id }}":
            {
                "name": "{{ gn.name }}",
                "layers": "{{ gn.layers }}",
                "csw_xml": "{{ gn.csw.xml }}",
                "csw_json": "{{ gn.csw.json }}",
                "wms": "{{ gn.name }}",
                "tiles": "{{ gn.tiles }}"
            }{% unless forloop.last %},{% endunless %}
            {% endfor %}
        }
    };
</script>
