<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twittercard.site }}" />
<!-- Twitter truncates twitter:title to 70 characters. -->
<meta name="twitter:title" content="{{ page.title | truncate: 70 }}" />
<!-- Twitter truncates twitter:description at the word to 200 characters. -->
<meta name="twitter:description" content="{{ page.content | truncate: 200 }}" />
<meta name="twitter:image" content="{{ site.storage_thumbnails_products }}/{{ page.thumbnail_150 }}" />
