---
layout: wrapper
title: "Websites"
---
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div><h2 class="page-title">{{ page.title }}</h2></div>
  <ul class="nav nav-tabs" style="padding: 10px 10px 0px 10px;">
    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
    <li><a href="#all" data-toggle="tab">All</a></li>
  </ul>
  <div class="tab-content" style="padding: 10px;">
    <div id="featured" class="tab-pane active">
      {% for website in site.categories.websites reversed %}
        {% if website.featured == true %}
          {% include main/listitem_website.html %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="all" class="tab-pane">
      {% for website in site.categories.websites reversed %}
        {% include main/listitem_website.html %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-2">
</div>

