---
layout: wrapper_text
---

<h1>Developer</h1>

<h2>Open Source Software</h2>
<h3>CyberGIS</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'cybergis' %}
    <p>{% include main/listitem_repo.html %}</p>
  {% endif %}
{% endfor %}
<h3>Imagery to the Crowd</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'ittc' %}
    <p>{% include main/listitem_repo.html %}</p>
  {% endif %}
{% endfor %}

<h2>APIs</h2>
You can learn more about our APIs, <a href="{{ site.baseurl }}/api">[here]</a>.
<br>
<h2>Science and Technology (S&T) Programs</h2>
<a href="{{ site.baseurl }}/programs>">Click here</a>[Click here]({{ site.baseurl }}/programs) to learn more about our science and technology programs, such as <a href="http://mapgive.state.gov">MapGive</a> and <a href="http://secondarycities.state.gov">Secondary Cities</a>.
<br>
<h2><a href="{{ site.baseurl}}/websites">Websites</a></h2>
{% for website in site.categories.websites reversed %}
  {% include main/listitem_website.html %}
{% endfor %}

<h2>Contact</h2>
If you have questions about HIU S&T programs, please contact HIU at <a href="mailto:HIU_DEV@state.gov">HIU_DEV@state.gov</a>.
