---
layout: wrapper_text
---

<h1>Developer</h1>
<hr>

<h2>Open Source Software</h2>

<h3>Websites</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'website' %}
    <p>{% include main/listitem_repo.html %}</p>
  {% endif %}
{% endfor %}

<h3>Imagery to the Crowd</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'ittc' %}
    <p>{% include main/listitem_repo.html %}</p>
  {% endif %}
{% endfor %}

<h3>CyberGIS</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'cybergis' %}
    <p>{% include main/listitem_repo.html %}</p>
  {% endif %}
{% endfor %}

<!--
<h2>APIs</h2>
You can learn more about our APIs, <a href="{{ site.baseurl }}/api">[here]</a>.
<br>
-->

<!--<h2><a href="{{ site.baseurl}}/geonode">GeoNodes</a></h2>-->
<h2>GeoNodes</h2>
{% for geonode in site.categories.geonode reversed %}
    {% if geonode.featured == true %}
        {% include main/listitem_geonode.html %}
    {% endif %}
{% endfor %}

<!--
<h2>Contact</h2>
If you have questions about HIU S&T programs, please contact HIU at <a href="mailto:HIU_DEV@state.gov">HIU_DEV@state.gov</a>.-->
