---
layout: wrapper_text
---

<h1>Developer</h1>

<h2>Open Source Software</h2>
<h3>CyberGIS</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'cybergis' %}
    {% include listitem_repo.html %}
  {% endif %}
{% endfor %}
<h3>Imagery to the Crowd</h3>
{% for repo in site.categories.repos reversed %}
  {% if repo.keywords contains 'ittc' %}
    {% include listitem_repo.html %}
  {% endif %}
{% endfor %}

<h2>APIs</h2>
HIU has a distributed infrastucture so there is no one domain for APIs.  GeoNode, a core part of HIU's infrastructure, supports 3 APIs: (1) CSW, (2) OGC, and (3) internal GeoNode API.  Each HIU instance of GeoNode can be interfaced using all of those APIs.
<br>
If you are starting off, we'd suggest you take a look at State GeoNode's API (<a href="http://geonode.state.gov/about/api/">http://geonode.state.gov/about/api/</a>).
<br>

<h2><a href="{{ site.baseurl}}/programs">Science and Technology (S&T) Programs</h2>
{% for program in site.categories.programs reversed %}
  {% include listitem_program.html %}
{% endfor %}

<h2><a href="{{ site.baseurl}}/websites">Websites</h2>
{% for website in site.categories.websites reversed %}
  {% include listitem_website.html %}
{% endfor %}

<h2>Contact</h2>
If you have questions about HIU S&T programs, please contact HIU at **[HIU_DEV@state.gov](mailto:HIU_DEV@state.gov)**.
