---
layout: wrapper
---
<div class="col-md-2">
</div>
<div class="col-md-8">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
    <li><a href="#all" data-toggle="tab">All</a></li>
  </ul>
  <div class="tab-content" style="padding:10px">
    <div id="featured" class="tab-pane active">
      {% for product in site.categories.products %}
        {% if product.featured == true %}
          {% include listitem_product.html %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="all" class="tab-pane">
      {% for product in site.categories.products %}
        {% include listitem_product.html %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-2">
</div>
