---
layout: wrapper_text_wide
title: Products
---

<style type="text/css">

.entry-tags {
    display: block;
    margin-top: .5em;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2.18182;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.entry-tags a {
    padding: .2em .4em;
    margin: 0 .2em;
    background-color: #fff;
    color: #101010;
    border-radius: 5px;
    border: 1px solid #101010;
    text-decoration: none;
    white-space: nowrap;
}

</style>

{% assign count_featured = 0 %}
{% for product in site.categories.products %}
  {% if product.featured == true %}
    {% assign count_featured = count_featured | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_AF = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "AF" %}
    {% assign count_AF = count_AF | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_EAP = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "EAP" %}
    {% assign count_EAP = count_EAP | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_EUR = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "EUR" %}
    {% assign count_EUR = count_EUR | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_NEA = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "NEA" %}
    {% assign count_NEA = count_NEA | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_SCA = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "SCA" %}
    {% assign count_SCA = count_SCA | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_WHA = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "WHA" %}
    {% assign count_WHA = count_WHA | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign count_global = 0 %}
{% for product in site.categories.products %}
  {% if product.region_id == "global" %}
    {% assign count_global = count_global | plus: 1 %}
  {% endif %}
{% endfor %}

<div><h1 class="page-title">{{ page.title }}</h1></div>

<ul class="nav nav-tabs" style="padding: 10px 10px 0px 10px;">
  <li class="active">
    <a href="#featured" data-toggle="tab">Featured ({{ count_featured }})</a>
  </li>
  <li><a href="#AF" data-toggle="tab">Africa ({{ count_AF }})</a></li>
  <li><a href="#EAP" data-toggle="tab">East Asia and the Pacific ({{ count_EAP }})</a></li>
  <li><a href="#EUR" data-toggle="tab">Europe and Eurasia ({{ count_EUR }})</a></li>
  <li><a href="#NEA" data-toggle="tab">Near East ({{ count_NEA}})</a></li>
  <li><a href="#SCA" data-toggle="tab">South and Central Asia ({{ count_SCA }})</a></li>
  <li><a href="#WHA" data-toggle="tab">Western Hemisphere ({{ count_WHA }})</a></li>
  <li><a href="#global" data-toggle="tab">Global ({{ count_global }})</a></li>
  <li><a href="#all" data-toggle="tab">All ({{ site.categories.products | size }}) </a></li>
</ul>

<div class="tab-content" style="padding: 10px;">
  <div id="featured" class="tab-pane active">
    {% for product in site.categories.products %}
      {% if product.featured == true %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

    <div id="AF" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "AF" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="EAP" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "EAP" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="EUR" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "EUR" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

    <div id="NEA" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "NEA" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="SCA" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "SCA" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="WHA" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "WHA" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="global" class="tab-pane ">
    {% for product in site.categories.products %}
      {% if product.region_id == "global" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_product.html odd=true %}
        {% else %}
          {% include main/listitem_product.html odd=false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <div id="all" class="tab-pane">
    {% for product in site.categories.products %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
      {% if thecycle == 'odd' %}
        {% include main/listitem_product_150.html odd=true %}
      {% else %}
        {% include main/listitem_product_150.html odd=false %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Modals from Bootstrap, used to preview images when thumbnails clicked -->
<!-- http://getbootstrap.com/javascript/#modals -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <img id="modal-img" style="max-width:1000px;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
$('#myModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var title = button.data('title') // Extract info from data-* attributes
  console.log('title-data: ');
  console.log(title);
  var img = button.data('img') // Extract info from data-* attributes
  console.log('img-data: ');
  console.log(img);
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(title);
  modal.find('#modal-img').attr("src",img);
})
</script>


<!-- http://stackoverflow.com/questions/7862233/twitter-bootstrap-tabs-go-to-specific-tab-on-page-reload-or-hyperlink -->
<script type='text/javascript'>
        
  $(document).ready(function() {
          
  // Javascript to enable link to tab
  var hash = document.location.hash;
  var prefix = "tab_";

  //console.log('hash! ');
  //console.log(hash);

  if (hash) {
      $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
  } 

  // Change hash for page-reload
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash.replace("#", "#" + prefix);
  });
        
});
        
</script>
