---
layout: wrapper_text
title: "Data"
---

<!--<div><h1 class="page-title">{{ page.title }}</h1></div>
<hr>
667764
-->

<div class="listitem row" style="margin-bottom: 15px;background: #6677645c">
    <div class="col-md-5">
      <a href="http://geonode.state.gov/layers/geonode%3ALSIB9a">
        <img class="data-img" src="https://s3.amazonaws.com/hiu-thumbnails/platforms/stategeonode_thumbnail_700px.png" width="100%"  style="margin: 10px;border:1px solid #021a40;"/>
      </a>
    </div>
    <div class="col-md-7">
      <a href="http://geonode.state.gov/layers/geonode%3ALSIB9a"><h3>Featured Dataset: Large Scale International Boundaries (LSIB)</h3></a>
      <br>
      <p>The Office of the Geographer and Global Issues at the U.S. Department of State produces the Large Scale International Boundaries (LSIB) dataset. The lines generalized from this dataset are the only international boundary lines approved for use on U.S. Government maps, databases, and other geographic products such as annotated imagery. They reflect U.S. Government policy, and not necessarily de facto control. This dataset can be downloaded from the State GeoNode, Humanitarian Data Exchange, or Data.gov.</p>
      <hr>
    </div>
</div>

<div>
<h2>Featured Data Platforms:</h2>
</div>

<div>

  {% for platform in site.categories.platforms %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_platform.html odd=true %}
        {% else %}
          {% include main/listitem_platform.html odd=false %}
        {% endif %}
  {% endfor %}

</div>

