---
layout: wrapper_text
title: "Data"
---

<!--<div><h1 class="page-title">{{ page.title }}</h1></div>
<hr>
667764
-->

<div class="listitem row" style="margin-bottom: 15px;background: #6677645c">
    <div class="col-md-5">
      <a href="https://www.geodata.state.gov/geonetwork/srv/eng/catalog.search#/metadata/3bdb81a0-c1b9-439a-a0b1-85dac30c59b2">
        <img class="data-img" src="{{site.baseurl}}/assets/LSIB_thumbnail_700px.png" width="100%"  style="margin: 10px;border:1px solid #021a40;"/>
      </a>
    </div>
    <div class="col-md-7">
      <a href="https://www.geodata.state.gov/geonetwork/srv/eng/catalog.search#/metadata/3bdb81a0-c1b9-439a-a0b1-85dac30c59b2"><h3>Featured Dataset: Large Scale International Boundaries (LSIB)</h3></a>
      <br>
      <p>The Office of the Geographer and Global Issues at the U.S. Department of State produces the Large Scale International Boundaries (LSIB) dataset. The lines generalized from this dataset are the only international boundary lines approved for use on U.S. Government maps, databases, and other geographic products such as annotated imagery. They reflect U.S. Government policy, and not necessarily de facto control. This dataset can be accessed from <a href="https://geodata.state.gov/">Geodata.state.gov</a>, <a href="https://www.geoplatform.gov/metadata/bc535853-777f-4268-85d6-b8b9a641e2c6">GeoPlatform.gov</a>, or <a href="https://catalog.data.gov/dataset/large-scale-international-boundaries">Data.gov</a>.</p>
      <hr>
    </div>
</div>

<div>
<h2>Featured Data Platforms:</h2>
</div>

<div>

  {% for platform in site.categories.platforms %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_platform.html odd=true %}
        {% else %}
          {% include main/listitem_platform.html odd=false %}
        {% endif %}
  {% endfor %}

</div>


<div class="listitem row" style="margin-bottom: 15px">
    <div class="col-md-5">
      <a href="{{site.baseurl}}/data/cartographic_guidance_bulletins/">
        <img class="data-img" src="{{site.baseurl}}/assets/GuidanceBulletin_thumbnail2.jpg" width="100%"  style="margin: 10px;border:1px solid #021a40;"/>
      </a>
    </div>
    <div class="col-md-7">
      <a href="{{site.baseurl}}/data/cartographic_guidance_bulletins/"><h3>Cartographic Guidance Bulletins</h3></a>
      <br>
      <p>The Office of the Geographer and Global Issues at the U.S. Department of State releases periodic guidance bulletins to inform Federal cartographers of changes in mapping policy, mostly with regard to international boundary and sovereignty issues. This series of bulletins began in 1991, and the policies contained in them, where applicable, are reflected in the Large Scale International Boundaries (LSIB) dataset.</p>
      <hr>
    </div>
</div>

