---
layout: default
---
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico" />
    <!-- CSS / External-->
    <!--<link href="{{ site.baseurl }}/lib/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/lib/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"/>-->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.less.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet.css" type="text/css" media="all" />
    <!-- CSS / Internal -->
    <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
    <!-- JavaScript / External -->	
    <!--<script src="{{ site.baseurl }}/lib/jquery/1.7.2/jquery-1.7.2.js"></script>-->
    <script src="{{ site.baseurl }}/lib/jquery/1.9.1/jquery-1.9.1.js"></script>
    <script src="{{ site.baseurl }}/lib/jqueryui/jquery-ui-1.8.14.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular-route.js"></script>
    {% if site.debug_bootstrap == true %}
    <script src="{{ site.baseurl }}/lib/bootstrap/3.3.5/dist/js/bootstrap.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/lib/bootstrap/3.3.5/dist/js/bootstrap.min.js"></script>
    {% endif %}
    {% if site.debug_leaflet == true %}
    <script src="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet-src.js"></script>
    <script src="{{ site.baseurl }}/lib/Leaflet.utfgrid/dist/leaflet.utfgrid-src.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet.js"></script>
    <script src="{{ site.baseurl }}/lib/Leaflet.utfgrid/dist/leaflet.utfgrid.js"></script>
    {% endif %}
    <!-- JavaScript / Internal -->		
    <script type="text/javascript" language="Javascript">
        var now = new Date();
        var today = new Date(now.getFullYear(),now.getMonth(),now.getDate());
    </script>
    <script type="text/javascript" language="Javascript">
        var mb_access_token = '{{ site.mapbox_access_token }}';
        var mb_url_tiles = '{{ site.mapbox_url_tiles }}' + mb_access_token;
        var mb_url_utfgrid = '{{ site.mapbox_url_utfgrid }}'+ mb_access_token;
        var gn_url_tiles = '{{ site.geonode_url_tiles }}';
    </script>
    <script type="text/javascript" language="Javascript">
        var site = 
        {
            "regions": 
            {
                {% for r in site.categories.regions %}
                "{{ r.region_id }}":"{{ r.title }}"{% unless forloop.last %},{% endunless %}
                {% endfor %}
            }
        };
    </script>
    <script type="text/javascript" language="Javascript">
        var buildBoundingBox = function(b)
        {
            var g = [0,0,0,0];
            try{
                g =
                [
                    parseFloat(parseFloat(b.children('westBoundLongitude').text()).toFixed(4)),
                    parseFloat(parseFloat(b.children('southBoundLatitude').text()).toFixed(4)),
                    parseFloat(parseFloat(b.children('eastBoundLongitude').text()).toFixed(4)),
                    parseFloat(parseFloat(b.children('northBoundLatitude').text()).toFixed(4))
                ];
            }catch(err){g = [0,0,0,0];}
            return g;
        };
        var ellipsis = function(text,len)
        {
            if(len==-1)
                return text;
            else
                return (text.length>len)?(text.substring(0,len-3)+'...'):text;
        };
        var createLink = function(map, layer, label)
        {
            var link = document.createElement('a');
            link.href = '#';
            link.className = 'active';
            link.innerHTML = label;
            $(link).data('map', map)
            $(link).data('layer', layer)
            $(link).click(function(e){
                e.preventDefault();
                e.stopPropagation();
                var map = $(this).data('map');
                var layer = $(this).data('layer');
                if(map.hasLayer(layer))
                {
                    map.removeLayer(layer);
                    this.className = ''
                }
                else
                {
                    map.addLayer(layer);
                    this.className = 'active';
                }
            });
            return link;
        };
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
