---
layout: default

dns_prefetch: ['//www.google-analytics.com','//mapbox.com','//api.mapbox.com','//mapgive.state.gov','//geonode.state.gov','//secondarycities.state.gov']

---
<html class="svg">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    {% if site.twittercard.enabled == true %}
      {% if page.categories contains "products" %}
        {% include twittercard_product.html %}
      {% else %}
        {% include twittercard_default.html %}
      {% endif %}
    {% endif %}
    {% if site.opengraph.enabled == true %}
      {% if page.categories contains "products" %}
        {% include opengraph_product.html %}
      {% else %}
        {% include opengraph_default.html %}
      {% endif %}
    {% endif %}
    {% for dns in page.dns_prefetch %}
    <link rel="dns-prefetch" href="{{ dns }}">
    {% endfor %}
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico" />
    <!-- CSS / External-->
    <!--<link href="{{ site.baseurl }}/lib/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ site.baseurl }}/lib/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"/>-->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.less.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet.css" type="text/css" media="all" />
    <!-- CSS / Internal -->
    <link href='{{site.baseurl}}/build/css/main.css' rel='stylesheet' />
    <!-- JavaScript / External -->	
    <!--<script src="{{ site.baseurl }}/lib/jquery/1.7.2/jquery-1.7.2.js"></script>-->
    {% if site.debug.jquery == true %}
    <script src="{{ site.baseurl }}/lib/jquery/{{ site.deps.jquery.version }}/jquery-{{ site.deps.jquery.version }}.js"></script>
    <script src="{{ site.baseurl }}/lib/jqueryui/jquery-ui-1.8.14.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/lib/jquery/{{ site.deps.jquery.version }}/jquery-{{ site.deps.jquery.version }}.min.js"></script>
    <script src="{{ site.baseurl }}/lib/jqueryui/jquery-ui-1.8.14.min.js"></script>
    {% endif %}
    {% if site.debug.angular == true %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ site.deps.angular.version }}/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ site.deps.angular.version }}/angular-route.js"></script>
    {% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ site.deps.angular.version }}/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{{ site.deps.angular.version }}/angular-route.min.js"></script>
    {% endif %}
    {% if site.debug.bootstrap == true %}
    <script src="{{ site.baseurl }}/lib/bootstrap/3.3.5/dist/js/bootstrap.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/lib/bootstrap/3.3.5/dist/js/bootstrap.min.js"></script>
    {% endif %}
    {% if site.debug.leaflet == true %}
    <script src="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet-src.js"></script>
    <script src="{{ site.baseurl }}/lib/Leaflet.utfgrid/dist/leaflet.utfgrid-src.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/lib/leaflet/1.0.0-b1/leaflet.js"></script>
    <script src="{{ site.baseurl }}/lib/Leaflet.utfgrid/dist/leaflet.utfgrid.js"></script>
    {% endif %}
    <!-- JavaScript / Internal -->
    {% if site.debug.main == true %}
    <script src="{{ site.baseurl }}/build/js/main.js"></script>
    {% else %}
    <script src="{{ site.baseurl }}/build/js/main.min.js"></script>
    {% endif %}
    {% include const_snippet.html %}
    <script type="text/javascript" language="Javascript">
        var mb_access_token = '{{ site.mapbox.access_token }}';
        var mb_url_tiles = '{{ site.mapbox.url_tiles }}' + mb_access_token;
        var mb_url_utfgrid = '{{ site.mapbox.url_utfgrid }}'+ mb_access_token;
        var gn_url_tiles = '{{ site.geonodes[0].tiles }}';
    </script>
    {% include site_snippet.html %}
    {% include tilelayers_snippet.html %}
    </script>
    <script type="text/javascript" language="Javascript">
        var createLink = function(map, layer, label, zIndex)
        {
            var link = document.createElement('a');
            link.href = '#';
            link.className = 'active';
            link.innerHTML = label;
            $(link).data('map', map)
            $(link).data('layer', layer)
            $(link).data('zIndex', zIndex)
            $(link).click(function(e){
                e.preventDefault();
                e.stopPropagation();
                var map = $(this).data('map');
                var layer = $(this).data('layer');
                if(map.hasLayer(layer))
                {
                    map.removeLayer(layer);
                    this.className = ''
                }
                else
                {
                    map.addLayer(layer);
                    this.className = 'active';
                }
            });
            return link;
        };
    </script>
    <!--Digital Analytics Program roll-up, see https://analytics.usa.gov for data-->
    {% if site.dap.enabled == true %}
      {% include analytics_dap_snippet.html %}
    {% endif %}
    <!-- Google Analytics -->
    {% if site.ga.enabled == true %}
      {% include analytics_ga_snippet.html %}
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
