---
layout: wrapper
---
{% assign primary_product = page %}
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div><h2 class="page-title">{{ page.title }}</h2></div>
  {% assign product = primary_product %}
  {% include listitem_product.html %}
  <hr>
  <div><h4 class="page-title">Related Products & Data</h2></div>
  <ul class="nav nav-tabs" style="padding: 10px 10px 0px 10px;">
    <li class="active"><a href="#related-products" data-toggle="tab">{{ product.region_title }} Products</a></li>
    <li><a href="#all" data-toggle="tab">All</a></li>
  </ul>
  <div class="tab-content" style="padding: 10px;">
    <div id="related-products" class="tab-pane active">
      {% for related_product in site.categories.products %}
        {% if related_product.id != primary_product.id %}
          {% if related_product.region_id == primary_product.region_id %}
            {% assign product = related_product %}
            {% include listitem_related_product.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div id="all" class="tab-pane">
    </div>
  </div>
</div>
<div class="col-md-2">
</div>

