---
layout: base
---

{% include main/header.html %}

<div class="main" style="">
{{ content }}
</div>
  

<script type='text/javascript'>
    $(document).ready(function() {

      console.log('doc ready firing');
      $(".nav li").removeClass("active");//this will remove the active class from  
                                         //previously active menu item 
      console.log(this.location.pathname);
      $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
            
    });
</script>

<div>
    {% include main/footer.html %}
</div>
