---
layout: wrapper
---

<script>
console.log('pg open');


/*adding the twitter pop-up*/
$("body").on("click", ".tweet", function() {
    console.log('tweet clicked');
    /*var myWindow = window.open("", "", "width=200,height=100");
    return false;*/

    var w = 550;
    var h = 420;
    var url = $(this).attr('href');
    var title = "Share a link on Twitter";

    var left = (screen.width/2)-(w/2);
    var top = (screen.height/2)-(h/2);

    var url = "https://twitter.com/intent/tweet?text="+ encodeURIComponent("{{ page.tweet }}") + "&via=StateHIU";

    window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    return false;
  });

</script>

<div class="wrapper" style="min-height:800px">
    <div class="col-md-2"></div>
    <div class="col-md-8 body" style="padding:10px;">

          <div class="post single">
            {% unless page.title_hidden %}
            <br>
            <h1 style="display: inline;">{{ page.title }}</h1>
            <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
              {{ page.date | date: "%b %e, %Y" }}
            </info>

            <a href="" class="tweet"><img src="{{ site.baseurl }}/assets/img/Twitter_Logo_Blue.png" style="width: 40px;margin-left:15px"></a>

            <br>
            {% endunless %}
            {% if page.photo_url %}
                <img src="{{ page.photo_url }}" style="max-width: 500px;max-height: 500px;margin-top:15px;margin-bottom:15px;">
            {% endif %}
            <div class="body" style="margin-top:15px">{% if page.external_url %}Article is published at {{ page.external_url }}<script>
            document.location.href = "{{ page.external_url }}";
            </script>{% else %}{{ content }}{% endif %}</div>
            <div class="breaker"></div>
          </div>

        <div class="push"></div>
    </div>
    <div class="col-md-2"></div>
</div>


