---
layout: wrapper_text
title: Events
---
{% assign count_current = 0 %}
{% assign count_archived = 0 %}
{% for event in site.categories.events %}
  {% if event.archived == true %}
    {% assign count_archived = count_archived | plus: 1 %}
  {% else %}
    {% assign count_current = count_current | plus: 1 %}
  {% endif %}
{% endfor %}
<div><h2 class="page-title">{{ page.title }}</h2></div>
<ul class="nav nav-tabs" style="padding: 10px 10px 0px 10px;">
  <li class="active"><a href="#current" data-toggle="tab">Current ({{ count_current }})</a></li>
  <li><a href="#archived" data-toggle="tab">Archived ({{ count_archived }})</a></li>
  <li><a href="#all" data-toggle="tab">All ({{ site.categories.events | size }})</a></li>
</ul>
<div class="tab-content" style="padding: 10px;">
  <div id="current" class="tab-pane active">
    {% for event in site.categories.events %}
      {% if event.archived == false %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_event.html param='odd' %}
        {% else %}
          {% include main/listitem_event.html param='even' %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <div id="archived" class="tab-pane">
    {% for event in site.categories.events %}
      {% if event.archived == true %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
        {% if thecycle == 'odd' %}
          {% include main/listitem_event.html param='odd' %}
        {% else %}
          {% include main/listitem_event.html param='even' %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <div id="all" class="tab-pane">
    {% for event in site.categories.events %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{%endcapture%}
      {% if thecycle == 'odd' %}
        {% include main/listitem_event.html param='odd' %}
      {% else %}
        {% include main/listitem_event.html param='even' %}
      {% endif %}
    {% endfor %}
  </div>
</div>
